[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Sovengar
	email = bubles_2009@hotmail.com
[core]
	editor = \"C:\\Users\\buble\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[safe]
	directory = D:/Proyects/TwitchTracker (React native)
	directory = D:/Proyects/Spring Security JWT (Java)
	directory = D:/Proyects/- Bots/Bot discord/CBOT
